h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        text-shadow: 2px 2px 4px #000000;
    }

    p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 20px;
        text-shadow: 2px 2px 4px #000000;
    }